
// COLOR BUTTONS -----------------------------------------------------------

@mixin colstyle ($backgroundColor) {
    background-color: $backgroundColor;
    border-radius: 6px;
    color: $txt-color;
    height: 25px;
}

@mixin btnstyle ($color: white) {
    color: $color;
    text-align: center;
    text-transform: uppercase;
    border-style: none;
    padding-bottom: 30px;
}

@mixin flexbox ($JustifyContent) {
    display:flex;
    justify-content: $JustifyContent;
}

// MEDIA QUERIES ------------------------------------------------------------

@mixin mq($break) {
    @if $break == "desktop" {
        @media (min-width: $desktop) {
            @content;
        }
    }
}