
// COLOR BUTTONS -----------------------------------------------------------

@mixin colstyle ($backgroundColor) {
    background-color: $backgroundColor;
    border-radius: 6px;
    color: $txt-color;
    height: 25px;
}

@mixin btnstyle ($color: white) {
    color: $color;
    text-align: center;
    text-transform: uppercase;
    border-style: none;
    padding-bottom: 30px;
}

@mixin grid-system-padding {
    padding: 15px 0px 7px 10px;
    margin-bottom: 10px;
}

@mixin buttons-padding {
    margin: 20px auto 20px auto;
    padding: 15px 0 30px 0;
}   

// IMAGES ------------------------------------------------------------------

@mixin imagestyle {
    max-width: 100%;
    height: auto;
    display: block;
}