%imagestyle {
    max-width: 100%;
    height: auto;
    display: block;
}

%grid-system-padding {
    padding: 15px 0px 7px 10px;
    margin-bottom: 10px;
}

%buttons-padding {
    margin: 20px auto 20px auto;
    padding: 15px 0 30px 0;
}   

%headlinesmall {
    font-size: 1.25em;
    font-weight: lighter;    
}

%headlinebig {
    font-size: 2em;
    font-weight: 900;
}

//Nav items