
// Font styles 

$primary-font: 'Roboto', sans-serif;

// Color Styles 

$primary-color: #58e1c1;
$secondary-color: #52ddfc;

$btn-color1: #63cc82;
$btn-color2: #e4757a;
$btn-color3: #fd7856;
$btn-color4: #927bc1;
$btn-color5: #80e8d1;
$btn-color6: #3fabca;
$btn-color7: #deb2ee;
$btn-color8: #88d9a0;
$btn-color9: #ec9fa3;
$btn-color10: #fd9f85;

$txt-color: #898383;