
// Font styles 

$primary-font: 'Open Sans', sans-serif;

// Color Styles 

$primary-color: #58e1c1;
$secondary-color: #52ddfc;

$btn-color1: #63cc82;
$btn-color2: #e4757a;
$btn-color3: #fd7856;
$btm-color4: #927bc1;
$btm-color5: #80e8d1;
$btn-color6: #3fabca;
$btm-color7: #deb2ee;
$btm-color8: #88d9a0;
$btm-color9: #ec9fa3;
$btm-color10: #fd9f85;
$btm-color11: #ec9fa3;

$txt-color: #898383;