//@mixin colstyle ($backgroundColor) {
//    background-color: $backgroundColor;
//    padding: 5px;
//    border-radius: 3px;
//    color: $txt-color;
//}

// @mixin btnstyle ($color: white) {
//    text-align: center;
//    text-transform: uppercase;
//} 

html {
    box-sizing: border-box;
} 

.container {
    margin: 25px;
}

.grid__row {
    margin-top: 40px;
    margin-bottom: 40px;
}

div.theme__colors.grid__col--12{
    @include colstyle ($primary-color);
    @extend %grid-system-padding;
}
div.theme__colors.grid__col--6{
    @include colstyle ($btn-color6);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--4{
    @include colstyle ($secondary-color);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--3{
    @include colstyle ($btn-color7);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--5{
    @include colstyle ($btn-color8);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--3{
    @include colstyle ($btn-color7);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--7{
    @include colstyle ($btn-color9);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--8{
    @include colstyle ($btn-color10);
    @extend %grid-system-padding;
}