//@mixin colstyle ($backgroundColor) {
//    background-color: $backgroundColor;
//    padding: 5px;
//    border-radius: 3px;
//    color: $txt-color;
//}

// @mixin btnstyle ($color: white) {
//    text-align: center;
//    text-transform: uppercase;
//} 

html {
    box-sizing: border-box;
} 

.container {
    margin: 25px;
}

.grid__row {
    margin-top: 40px;
    margin-bottom: 40px;
}

div.theme__colors.grid__col--12{
    @include colstyle ($primary-color);
    @extend %grid-system-padding;
}
div.theme__colors.grid__col--6{
    @include colstyle ($btn-color6);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--4{
    @include colstyle ($secondary-color);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--3{
    @include colstyle ($btn-color7);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--5{
    @include colstyle ($btn-color8);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--3{
    @include colstyle ($btn-color7);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--7{
    @include colstyle ($btn-color9);
    @extend %grid-system-padding;
}

div.theme__colors.grid__col--8{
    @include colstyle ($btn-color10);
    @extend %grid-system-padding;
}


// DESKTOP - MQ ====================================

@include mq(desktop) {

    .container {
        max-width: 900px;
        margin: auto;
    }

    .grid__row {
        @include flexbox (space-betweeen);
    }

    .theme__colors {
        text-align: center;
        margin: 5px;
    }

    .grid__col--12 {
        width: 100%;
    }

    .grid__col--6 {
        width: 50%;
        justify-content: center;
    }

    .grid__col--4 {
        width: 33%;
        align-content: center;
    }

    .grid__col--3 {
        width: 25%;
    }

    .grid__col--5 {
        width: 45%;
    }

    .grid__col--7 {
        width: 55%;
    }

    .centered {
        margin: auto;
    }

    .grid__col--8 {
        width: 66%;
        padding-right: 70px;
    }

    .grid__col--9 {
        width: 66%;
    }
}