
.img--avatar,
.img--logo,
.img--frame {
    @extend %imagestyle;
}

.img--avatar,
.img--logo {
    margin: 30px auto 40px auto; 
}

.img--frame {
    height: auto;
    margin: auto;
    padding: 12px;
    border: 1px solid #adadad;
}