
.nav {
    padding: 0;
}

.nav__item {
    @extend %someair;
    @include colstyle (transparent);

    width: 100%;
    list-style-type: none;
    text-align: center;

    a { 
        color: gray;
        font-size: 1.2em;
        text-decoration: none;
        display: block;
    }

    &:hover {
        background-color: $primary-color;
        a {color: white;}
    }
}

// DESKTOP - MQ ====================================

@include mq(desktop) {

    .nav {
        margin-top: 55px;
    }

    .nav__item {
        display: inline-block;
        width: calc(20% - 5px);
        padding-top: 10px;
        padding-bottom: 5px;
    }

}