
.nav {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
}

.nav__item {
    width: 100%;
    @include colstyle (transparent);
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    a { 
        color: gray;
        font-size: 1.2em;
        text-decoration: none;
        display: block;
    }

    &:hover {
        background-color: $primary-color;
        a {color: white;}
    }
}